# Django
DJANGO_SETTINGS_MODULE=solutioner.settings_prod
DJANGO_SECRET_KEY=
PYTHONUNBUFFERED=1
OLDSUPRA_INSECURE_COOKIES=0

# Google sign-in
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email (Mailjet)
MAILJET_API_KEY=
MAILJET_SECRET_KEY=

# Omnisend
OMNISEND_API_KEY=

# Liberty / pay.ge
PAYGE_MERCHANT_ID=
PAYGE_PASSWORD=

# TBC
TBC_CLIENT_ID=
TBC_CLIENT_SECRET=
TBC_API_KEY=

# Bank of Georgia
BOG_CLIENT_ID=
BOG_CLIENT_SECRET=

# Flitt
FLITT_PAYMENT_KEY=
FLITT_MERCHANT_ID=
