
{% extends 'hurstbase.html' %}




{% load static %}


{% block content %}

<!-- HEADING-BANNER START -->
			<div class="heading-banner-area overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="heading-banner">
								<div class="heading-banner-title">
									<h2>Contact Us</h2>
								</div>
								<div class="breadcumbs pb-15">
									<ul>
										<li><a href="">Home</a></li>
										<li>Contact Us</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- HEADING-BANNER END -->
			<!-- contact-us-AREA START -->
			<div class="contact-us-area  pt-80 pb-80">
				<div class="container">	
					<div class="contact-us customer-login bg-white">
						<div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="contact-details">
									<h4 class="title-1 title-border text-uppercase mb-30">contact details</h4>
									<ul>
										<li>
											<i class="zmdi zmdi-pin"></i>
											<span>28 Nutsubidze Street #139 </span>
											<span>Tbilisi Georgia,</span>
											<span>City Mall </span>
										
										</li>
										<li>
											<i class="zmdi zmdi-phone"></i>
											<span>+995 599 37 72 82</span>
										
										</li>
										<li>
											<i class="zmdi zmdi-email"></i>
											<span>contact@oldsupra.ge</span>
											
										</li>
									</ul>
								</div>
								
							</div>
							<div class="col-lg-8 col-md-7 mt-xs-30">
								<div class="map-area">
						<iframe src="https://www.google.com/maps/d/embed?mid=1yw0RBuMVIEBH0brzYnTOVLFO6gB_8PY&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- footer area start -->
{% endblock %}
